



button[type=button]{
    background-color:cornflowerblue;
    color: black;
    float: left;
    width: auto;
    border: none;
    border-radius: 5px;
}
.changetheme{
    background-color: black;
    color: white;
}
