<div class="login-content" [class.changetheme]="themechange">
       
    <h2>Sign in </h2>

        <label for="username">Username or Email Address</label><br>
        <input type="email"><br>
        <label for="password">Password</label><br>
        <input type="text"><br>
        <button>sign in</button><br><br>
        <button type="button" (click)="showResetPage()">forget password?</button>&nbsp;

        
    </div>



<div class="second">
    <button type="button" (click)="btnClick()">click</button><hr>
    
    <p>{{product}}</p>


 </div><hr>


<div>
FirstName:Govind LastName:{{object}}
</div>
